{
  "presets": [
    ["flow"],
    ["es2015", {"targets": {"node": "6.5"}}]
  ],
  "plugins": [
    ["add-module-exports"],
    ["transform-object-rest-spread", {"useBuiltIns":true}],
    ["transform-class-properties"]
  ]
}
